﻿@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Auth.js")"></script>
}
@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.Title = "Login";
}


<div class="row">
    <div id="login-wrapper" class="col-md-2 col-md-offset-5">
        <h3 class="authName">Party app</h3>
        <div id="usernameField" class="form-group">
            <label for="usr">E-pasta adrese / lietotājvārds</label>
            <input type="text" class="form-control" id="username" data-trigger="manual" data-placement="right" title="Izskatās, ka neesi pieteikts pasākumā :(">
        </div>

        <div id="passwordInput" class="form-group" style="display: none;">
            <label for="usr">Parole</label>
            <input type="password" class="form-control" id="password">
        </div>

        <div id="passwordCreation" style="display: none;">
            <div class="form-group">
                <label for="usr">Paroles izveide</label>
                <input type="password" class="form-control" id="passwordCreate">
            </div>
            <div class="form-group">
                <label for="usr">Parole vēlreiz</label>
                <input type="password" class="form-control" id="rePasswordCreate">
            </div>
        </div>

        <button id="loginBtn" class="form-control btn btn-primary">Autorizēties</button>
    </div>
</div>