﻿@using netmd4.Models;
@{
    List<guestList> guests = (List<guestList>)ViewData["guests"];
}
<div id="guestWrapper">

    @foreach(guestList guest in guests)
    {
        <div style="font-family: Pacifico, serif; margin-bottom: 5px; font-size: 25px;text-align: center;" class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="col-lg-8">

                    <p data-secondinfo="@Html.Raw(guest.email)" class="guest-list-item">@Html.Raw(guest.name + " " + guest.surname)</p>

                </div>
            </div>

        </div>
        
    }

</div>