﻿@using netmd4.Models;
@using netmd4.Controllers;
@{
    List<presents> registeredPres = (List<presents>)ViewData["presentList"];
    Role userRole = (Role)ViewData["userRole"];
    int i = 0;
    int userId = (int)ViewData["userId"];
}

<div id="presentWrapper">

    @if(userRole != Role.ADMIN)
    { 
        <button id="myPresentFilter" class="btn btn-xs btn-default" style="margin-left: 20px; margin-bottom: 10px;">
            Manas dāvanas
        </button>
    }
        
    @foreach (presents p in registeredPres)
    {
        if (i == 0)
        {
            @Html.Raw("<div class='row'>");
        }


        <div class="col-md-4">
            <div class="thumbnail">
                <img src="@Html.Raw(p.url)" alt="Present image">
                <div class="caption">
                    <h3>@Html.Raw(p.name)</h3>
                    <p>@Html.Raw(p.description)</p>

                    @if (userRole != Role.ADMIN)
                    {
                        string canChoose = "";
                        bool iHaveTaken = false;
                        string choosePresentTxt = "Es dāvināšu!";

                        if (p.isTaken != 0)
                        {
                            canChoose = "disabled";
                        }
                        
                        if(p.takenBy != userId && p.isTaken != 0)
                        {
                            choosePresentTxt = "Dāvana paņemta";
                        }

                        if (p.takenBy == userId)
                        {
                            iHaveTaken = true;
                        }

                        <p>
                            <button data-presentid="@Html.Raw(p.id)" class="check-pres-res btn btn-primary @Html.Raw(canChoose)">@Html.Raw(choosePresentTxt)</button>

                            @if (iHaveTaken)
                            {
                                <button data-presentid="@Html.Raw(p.id)" class="uncheck-present-res btn btn-default">Pārdomāju</button>
                            }
                        </p>
                    }

                </div>
            </div>
        </div>

                    i++;

                    if (i == 3)
                    {
                        @Html.Raw("</div>");
                           i = 0;
                    }

    }

    @if (i != 0)
    {
        @Html.Raw("</div>");
    }

</div>