﻿@using netmd4.Controllers;
@using netmd4.Models;
@{
    presents p = (presents)ViewData["present"];
    Role userRole = (Role)ViewData["role"];
    int userId = (int)ViewData["userId"];
}
<div class="col-md-4">
    <div class="thumbnail">
        <img src="@Html.Raw(p.url)" alt="Present image">
        <div class="caption">
            <h3>@Html.Raw(p.name)</h3>
            <p>@Html.Raw(p.description)</p>

            @if (userRole != Role.ADMIN)
            {
                string canChoose = "";
                bool iHaveTaken = false;

                if (p.isTaken != 0)
                {
                    canChoose = "disabled";
                }

                if (p.takenBy == userId)
                {
                    iHaveTaken = true;
                }

                <p>
                    <button data-presentid="@Html.Raw(p.id)" class="check-pres-res btn btn-primary @Html.Raw(canChoose)">Es dāvināšu!</button>

                    @if (iHaveTaken)
                    {
                        <button data-presentid="@Html.Raw(p.id)" class="uncheck-present-res btn btn-default">Pārdomāju</button>
                    }
                </p>
            }

        </div>
    </div>
</div>