﻿<div style="margin-top: 20px; margin-bottom: 50px;" class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="col-lg-8">
            <img style="width: 100%; height: 100%;" src="/Images/flake6.png" data-toggle="modal" data-target="#guestCrModal" alt="option 1" class="img-circle flake-menu-item">
            <p style="font-size: 30px;" class="flake-menu-text">Pievienot viesi</p>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="guestCrModal" tabindex="-1" role="dialog" aria-labelledby="guestCrModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="guestCrModalLabel">Viesa izveide</h4>
            </div>
            <div class="modal-body">

                <div style="display: none;" id="guest-create-failed" class="alert alert-danger" role="alert">Neizdevās izveidot viesi</div>
                <div style="display: none;" id="guest-create-failed-email" class="alert alert-danger" role="alert">Viesis ar šādu e-pastu jau ir reģistrēts</div>
                <div style="display: none;" id="guest-create-success" class="alert alert-success" role="alert">Viesis veiksmīgi izveidots</div>

                <div class="form-group">
                    <label for="guestName">Viesa vārds</label>
                    <input type="text" class="form-control" id="guestName">
                </div>
                <div class="form-group">
                    <label for="guestSurname">Viesa uzvārds</label>
                    <input type="text" class="form-control" id="guestSurname">
                </div>
                <div class="form-group">
                    <label for="guestEmail">Viesa e-pasta adrese</label>
                    <input type="email" class="form-control" id="guestEmail">
                </div>
            </div>
            <div class="modal-footer">
                <button id="createGuest" type="button" class="btn btn-primary">Izveidot</button>
                <button id="clearInputs" type="button" class="btn btn-warning">Dzēst ievadlaukus</button>
            </div>
        </div>
    </div>
</div>