﻿<div style="margin-top: 20px; margin-bottom: 50px;" class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="col-lg-8">
            <img style="width: 100%; height: 100%;" src="/Images/flake4.png" data-toggle="modal" data-target="#presentCrModal" alt="option 1" class="img-circle flake-menu-item">
            <p style="font-size: 30px;" class="flake-menu-text">Izveidot dāvanu</p>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="presentCrModal" tabindex="-1" role="dialog" aria-labelledby="presentCrModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="presentCrModalLabel">Dāvanas izveide</h4>
            </div>
            <div class="modal-body">

                <div style="display: none;" id="present-create-failed" class="alert alert-danger" role="alert">Neizdevās izveidot dāvanu</div>
                <div style="display: none;" id="present-create-success" class="alert alert-success" role="alert">Dāvana veiksmīgi izveidota</div>

                <div class="form-group">
                    <label for="presName">Dāvanas nosaukums</label>
                    <input type="text" class="form-control" id="presName">
                </div>
                <div class="form-group">
                    <label for="presDescr">Sīkāks apraksts</label>
                    <input type="text" class="form-control" id="presDescr">
                </div>
                <div class="form-group">
                    <label for="imgUrl">Saite uz dāvanas attēlu</label>
                    <input type="text" class="form-control" id="imgUrl">
                </div>

                <div style="margin-top: 20px;" id="present-preview" class="row"></div>
            </div>
            <div class="modal-footer">
                <button id="createPresent" type="button" class="btn btn-success">Izveidot</button>
                <button id="previewPresent" type="button" class="btn btn-primary">Apskatīt</button>
                <button id="clearInputs" type="button" class="btn btn-warning">Dzēst ievadlaukus</button>
            </div>
        </div>
    </div>
</div>