﻿
@{
    ViewBag.Title = "Viesu saraksts";
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/MenuVisuals.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/GuestListVisuals.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/GuestCreate.js")"></script>
}

<div class="container">
    <h1 style="font-family: Pacifico, serif; margin-bottom: 30px;">Viesu saraksts</h1>

    @Html.Partial("~/Views/App/CreateGuest.cshtml", ViewData)

    @Html.Partial("~/Views/Shared/RegisteredGuests.cshtml", ViewData)

</div>
