﻿@using netmd4.Controllers;
@using netmd4.Models;
@{
    ViewBag.Title = "PresentList";
    Role userRole = (Role)ViewData["userRole"];
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/MenuVisuals.js")"></script>
    @if(userRole == Role.ADMIN)
    {
        <script type="text/javascript" src="@Url.Content("/Scripts/PresentCreate.js")"></script>
    }
    else
    {
        <script type="text/javascript" src="@Url.Content("/Scripts/PresentManagement.js")"></script>
    }
}


<div class="container">
    <h1 style="font-family: Pacifico, serif; margin-bottom: 30px;">Dāvanu saraksts</h1>

    @if (userRole == Role.ADMIN)
    {
        @Html.Partial("~/Views/App/CreatePresent.cshtml", ViewData)
    }

    
    @Html.Partial("~/Views/Shared/RegisteredPresents.cshtml", ViewData)

</div>
