﻿<div class="row">

    <div class="vertical-center">
        <!--
        ^--- Added class
         http://stackoverflow.com/questions/22196587/how-to-center-align-vertically-the-container-in-bootstrap
            -->
        <div class="col-md-4 col-md-offset-4">
            <div class="col-lg-6">
                <img style="width: 100%; height: 100%; " src="/Images/flake4.png" data-click='@Url.Action("PresentList", "App")' alt="option 2" class="img-circle flake-menu-item">
                <p class="flake-menu-text">Dāvanas</p>
            </div>
            <div class="col-lg-6">
                <img style="width: 100%; height: 100%; " src="/Images/flake5.png" data-click='@Url.Action("UnAuthorize", "Auth")' alt="option 3" class="img-circle flake-menu-item">
                <p class="flake-menu-text">Beigt</p>
            </div>
        </div>
    </div>
</div>