﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.row {
     margin-right: 0px; 
     margin-left: 0px; 
}

.authName
{
    text-align: center;
    margin-bottom: 20px;
}

.authBody
{
    background-color: #9AC6D3;
    background-image: url('/Images/authBackground.png');
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 200px; 
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.flake-menu-item
{
    cursor: pointer;
}


.flake-menu-body
{
    padding-top: 0;
    padding-bottom: 0;
}

.flake-menu-text
{
    text-align: center;
    font-family:Pacifico, serif;
    font-size: 40px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.flake-menu-text-active
{
    opacity: 1;
}

.guest-list-item
{
    cursor: pointer;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
